<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Identidade</th>
        <th scope="col">CPF</th>
        <th scope="col">Endereço</th>
        <th scope="col">Email</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.rg }}</td>
        <td>{{ user.cpf }}</td>
        <td>{{ user.address }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>
          <button type="button" class="btn btn-info btn-sm ml-1" (click)="employeeDetails(employee.id)">Editar</button>
          <button type="button" class="btn btn-danger btn-sm ml-1" (click)="openConfirmationDialog(user.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
